body {
	background: -webkit-radial-gradient(#B6C5AC, #74816C);
	background: radial-gradient(#B6C5AC, #74816C);
}

.wrapper {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    cursor: pointer;
}

.wrapper:hover .middle {
    width: 50px;
    height: 50px;
    top: 24%;
    left: 27%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.3;
}

.wrapper:hover .top {
    -webkit-transform:rotate(45deg);
    top: 40%;
    border-radius: 10px;
    background-color: white;
}

.wrapper:hover .bottom {
    -webkit-transform:rotate(-45deg);
    top: 40%;
    border-radius: 10px;
    background-color: white;
}

.bar {
    width: 80px;
    height: 10px;
    border: 2px solid white;
    position: absolute;
    border-radius: 10px;
}

.top {
    left: 15%;
    top: 20%;
    -webkit-transition: all 0.5s;
}

.middle {
    left: 15%;
    top: 40%;
    -webkit-transition: all 0.5s;
}

.bottom {
    left: 15%;
    top: 60%;
    -webkit-transition: all 0.5s;
}

h2 {
    font-family: 'helvetica neue';
    color: white;
    text-align: center;
}

header h1,
header p {
    color: white;
}

.menu {
    background-color: rgba(116, 129, 108, 0.95);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    transition: all 0.3s ease;
}

.menu.hidden {
    display: none;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu ul li:last-child {
    border-bottom: none;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-family: 'helvetica neue', sans-serif;
    font-size: 18px;
    display: block;
    transition: all 0.2s ease;
}

.menu ul li a:hover {
    color: #B6C5AC;
    transform: scale(1.05);
}
